extends layout

block content
  img.heroimg#heroimg(src="/images/kaltura-logo.png" alt="Kaltura Logo")
  h1= title
  h4.divider ____________________

  script.
    function joinRoom(resourceId, firstName, lastName, role) {
      // Send POST to /joinroom
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/joinroom", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function(e) {
        if (xhr.readyState === 4) {
          // Open the newrow room in a new tab
          window.open(xhr.response);
        }
      }
      xhr.send(JSON.stringify({
          resourceId: resourceId,
          firstName: firstName,
          lastName: lastName,
          role: role
      }));
    }

  table.table.table-striped#roomTable(style="width:100%;table-layout:fixed;")
    thead
      tr
        th(style='width:4%') Update
        th(style='width:7%') Resource ID
        th.left-aligned(style='width:17%') Room Name
        th.left-aligned(style='width:17%') Description
        th.left-aligned(style='width:40%') Tags
        th(style='width:5%') Admin 1
        th(style='width:5%') Admin 2
        th(style='width:5%') Guest
    tbody
      each room in resources
        tr
          td
            input(type="checkbox",id=room.id)
          td= room.id
          td.left-aligned(contenteditable)= room.name
          td.left-aligned(contenteditable)= room.description
          td.left-aligned(contenteditable)= room.tags
          td
            a(href="javascript:joinRoom(" + room.id + ",'Admin','1','admin')") join
          td
            a(href="javascript:joinRoom(" + room.id + ",'Admin','2','admin')") join
          td
            a(href="javascript:joinRoom(" + room.id + ",'Guest','1','guest')") join

  script.
    function updateRooms(bDeleteRooms) {
      var checkedRows = [];
      var headersText = [];
      var $headers = $("th");
      var keys = ["", "id", "name", "description", "tags"];

      // Loop through the rows and add the checked ones to checkedRows
      var rowNumber = 0;
      var $rows = $("tbody tr").each(function(index) {
        $cells = $(this).find("td");
        //console.log("row " + index + " checked: " + document.getElementById($cells[1].innerText).checked);

        // Add row if checkbox is checked
        if (document.getElementById($cells[1].innerText).checked) {
          checkedRows[rowNumber] = {};

          $cells.each(function(cellIndex) {
            if (cellIndex > 0 && cellIndex < 5) {
              // Update the row object with the key/cell combo
              checkedRows[rowNumber][keys[cellIndex]] = $(this).text();
            }
          });
          console.log(checkedRows[rowNumber]);
          ++rowNumber;
        }
      });

      // Convert checkedRows to JSON
      var checkedRowsJson = JSON.stringify( { "updatedRooms": checkedRows } );
      //alert(checkedRowsJson);

      // Send POST to /updaterooms and reload page when updates complete
      var xhr = new XMLHttpRequest();
      xhr.open("POST", "/updaterooms", true);
      xhr.setRequestHeader('Content-Type', 'application/json');
      xhr.onreadystatechange = function(e) {
        if (xhr.readyState === 4) {
          location.reload();
        }
      }
      xhr.send(JSON.stringify({
          rooms: checkedRowsJson,
          delete: bDeleteRooms
      }));
    }

  button.btn.update(onclick='updateRooms(false)') update rooms
  button.btn.delete(onclick='updateRooms(true)') delete rooms
  h4.divider ____________________
  h2 room creation

  form(method='POST' action='/createroom')
    div.form-group
      label.label(for='name') Room Name
      input#name.input.form-control(type='text', placeholder='room name' name='name')
    div.form-group
      label.label(for='description') Description
      input#description.input.form-control(type='text', placeholder='room description' name='description')
    div.form-group
      label.label(for='tags') Tags
      input#tags.input.form-control(type='text', placeholder='tags' name='tags' value='vcprovider:newrow')
    button.btn.create(type='submit') create
  h4.divider ____________________
